header{
    background-color: lightgoldenrodyellow;
    padding : 10px;
    padding-left: 20px;
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: calc(100vh - 60px); // Ajustează în funcție de înălțimea header-ului
}

.zona_de_lucru{
    flex: 1; // Aceasta forțează zona de conținut să ocupe restul ecranului
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
}
app-pdf-validator {
    flex: 1; // Ocupă cealaltă cotă egală din spațiul rămas
    display: block; // Asigură-te că se comportă ca un element de tip block
    overflow-y: auto; // Adaugă scroll dacă conținutul PDF este mare
}