.app{
    width:100%;
    height:100%;
}
header{
    background-color: #dee5ec;
    align-items: center;
    display: flex   ;
    padding-left: 30px;
    border-bottom: 1px solid black;
    height:60px;
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: calc(100vh - 80px); // Ajustează în funcție de înălțimea header-ului
//    height: calc(100vh - 80px);
//    max-height: calc(100vh - 60px);
}

.zona_de_lucru{
    flex: 1; // Aceasta forțează zona de conținut să ocupe restul ecranului
    display: flex;
    flex-direction: column; 
    background-color: #f9f9f9;
    max-width: 800px;
    min-width: 800px;
    width: 800px;
//    height: 100%;
//    min-height: 100%;

}
app-pdf-validator {
//    flex: 1; // Ocupă cealaltă cotă egală din spațiul rămas
//    display: block; // Asigură-te că se comportă ca un element de tip block
//    height: 100%;
    width: 100%;
}

.toast-popup {
  position: fixed;
  top: 20px; // Poziționat sus, la fel ca în aplicațiile moderne
  right: 40px;
  color: white;
  padding: 15px 25px;
  border-radius: 6px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  z-index: 9999; // Ne asigurăm că stă absolut peste orice (inclusiv pdf-viewer)
  font-weight: bold;
  font-family: sans-serif;
  
  // Culori în funcție de rezultatul request-ului
  &.success { background-color: #298a5d; } // Verde pentru ok
  &.error   { background-color: #f8756c; } // Roșu pentru erori de server
  &.info    { background-color: #7aa0bf; } // Albastru pentru încărcare/procesare

  // O animație fină de fade-in
  animation: toastFade 0.3s ease-out;
}

@keyframes toastFade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}