.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;

  button {
    width: 150px;
    padding: 5px;
    background: #8c99a8;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    &:disabled { background: #ccc; }
  }

  .incarca {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid green;

    button {
      height: 100%;
      display: block;
    }
    

  }

  .custom-file-input {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #fff;
    color: #222;
    cursor: pointer;
    width: 300px;
    height: 100%;
    text-transform: none;

    input {
      display: none;
    }

    .file-icon {
      font-size: 1.2rem;
    }

    .file-label {
      font-weight: 600;
    }

    &:hover {
      background: #f7f7f7;
    }


  }

  .file-name {
    font-size: 0.95rem;
    color: #444;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .image-wrapper {
    min-width: 250px;
    min-height: 250px;
    display: inline-block;
    border: 2px dashed #ff0000; // Bordură roșie să vezi marginile decupării
    background: white;
  }

}

