
.lista-containter {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 100%;
}

.lista-header, .lista-rand {
  display: grid;
  /* Definim 4 coloane: prima mai lată, restul egale */
  grid-template-columns: 5fr 1fr 1fr 1fr; 
  padding: 5px;
  gap: 10px; /* Spațierea între "coloane" ca în Word */

  &.active {
    background-color: #d1e7dd;
    font-weight: bold;
    border-left: 4px solid #198754;
  }      

}

.lista-header {
  font-weight: bold;
  border-bottom: 2px solid #eee;
}

.lista-rand:hover {
  background-color: #dee5ec; /* Highlight pe tot rândul la hover */
  cursor: pointer;
}