<div class="main">
  <!-- Popup pentru mesaj -->
   @if (logs().length == 0) {
    <div class="placeholder">Așteptare comandă...</div>
  }
  @if (mesaj()){
  <div  class="popup">
    {{ mesaj() }}
  </div>
  }

  <div class="incarca">
    <label class="custom-file-input">
      <input type="file" accept=".zip" #fileInput (change)="onFisLotSelected($event)" />
      <span class="file-icon">📁</span>
      <span class="file-name">{{ selectedFisLot()?.name || 'Selecteaza fișier Lot' }}</span>
    </label>
    <button [disabled]="!selectedFisLot() || isUploading()" (click)="uploadFile()">
      {{ isUploading() ? 'Se încarcă...' : '📤 Încarcă lot ZIP' }}
    </button>
  </div>


  <app-list-loturi></app-list-loturi>


</div>
