:host{
  display: flex; flex-direction: column; flex:1; min-height: 0;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 0; // Permite ca flex-grow să funcționeze corect
  white-space: justify;
  
  }

  .incarca {
    display: flex;
    align-items: stretch;
    gap: 10px;
    padding: 5px;

    button {
      padding: 2px 12px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      width: 15em;
    }
  }







