<div class="main">
  <!-- Popup pentru mesaj -->
   @if (logs().length == 0) {
    <div class="placeholder">Așteptare comandă...</div>
  }
  @if (mesaj()){
  <div  class="popup">
    {{ mesaj() }}
  </div>
  }

  <div class="incarca">
    <label class="custom-file-input">
      <input type="file" accept=".pdf" #fileInput (change)="onFisScanSelected($event)" />
      <span class="file-icon">📁</span>
      <span class="file-name">{{ selectedFisScan()?.name || 'Selecteaza fișier Scanat' }}</span>
    </label>
    <button [disabled]="!selectedFisScan() || isUploading()" (click)="uploadScan()">
      {{ isUploading() ? 'Se încarcă...' : '📤 Încarcă pdf scanat' }}
    </button>
  </div>
  

  <div>
    <button [disabled]="isProcessing()" (click)="redenumeste()">
      {{ isProcessing() ? 'Se procesează...' : '🚀 Pornește OCR' }}
    </button>
  </div>

  <app-list-loturi></app-list-loturi>

</div>
