:host{
  display: flex; flex-direction: column; flex:1; min-height: 0;
}

.results-container {
  overflow-y: auto;  // Activează scroll-ul vertical
  flex: 1;
  min-height: 0;
  border: 1px solid grey;
 

.tabel-cereri {
    table-layout: fixed; // Ajută la menținerea coloanelor egale
    width: 100%;
    border-collapse: collapse; // Foarte important pentru a uni bordurile
    text-align: left;
    border: 1px solid black; // Bordura exterioară a tabelului


   
    th, td {
      padding: 2px;
      padding-left: 15px;
      border: 1px solid black;
      text-align: left;
//      height: 20px; // Înălțime fixă
      white-space: nowrap;
//      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    th {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #dee5ec;
 
      border-top: 1px solid black;
      font-weight: bold;

        &:nth-child(1) { width: 25%; }
        &:nth-child(2) { width: 25%; }

    }    
    .pagini {
       text-align: center;
    }

    tr:nth-child(even) {
      background-color: #fafafa;
    }
  }
}
