.results-container {
  padding: 5px;
  width: 1000px;
  max-height: 200px; // Probabil 10 rânduri x 40px per rând
  overflow-y: auto;  // Activează scroll-ul vertical
  
 

.tabel-cereri {
    table-layout: fixed; // Ajută la menținerea coloanelor egale
    width: 100%;
    border-collapse: collapse; // Foarte important pentru a uni bordurile
    text-align: left;
    border: 1px solid black; // Bordura exterioară a tabelului


   
    th, td {
      padding: 5 px;
      border: 1px solid black;
      text-align: left;
      height: 20px; // Înălțime fixă pentru a calcula corect cele 10 rânduri
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      position: sticky;
      top: 0;
      z-index: 0;
      background-color: lightgoldenrodyellow;
 
      border-top: 1px solid black;
      font-weight: bold;

        &:nth-child(1) { width: 10%; }
        &:nth-child(2) { width: 10%; }
        &:nth-child(3) { width: 30%; }

  }    

    tr:nth-child(even) {
      background-color: #fafafa;
    }
  }
}
